@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hmtl {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
.width-container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 1rem 9%;
}
a {
  text-decoration: none;
}
.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
ul {
  list-style-type: none;
}
.card {
  max-width: 400px;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.4);
}
.card form > h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.card > h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}
/* .btn-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
} */
.btn-box input,
.btn-box button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin-top: 0.3rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.6rem;
}
.btn-box button {
  margin-top: 1.5rem;
  background-color: blue;
}
.btn-box button > a {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.btn-box button:hover {
  background-color: rgb(16, 16, 236);
}
.btn-box i {
  position: absolute;
  font-size: 0.9;
  top: 40%;
  right: 1rem;
}
.card form .link-a {
  margin-top: 1rem;
  text-align: center;
}
.card form .link-a > a {
  text-decoration: none;
  color: rgb(80, 80, 241);
  font-size: 0.8rem;
}
.card form .link-a > a:hover {
  color: blue;
  text-decoration: underline;
}
.card form .p-text {
  margin: 1rem 0;
  text-align: center;
}
.card form .p-text p {
  font-size: 0.9rem;
}
.card form .p-text p a {
  text-decoration: none;
  color: rgb(57, 57, 237);
}
.card form .p-text p a:hover {
  color: blue;
  text-decoration: underline;
}
.card .linear-or {
  position: relative;
  height: 0.1rem;
  width: 100%;
  background-color: #cacaca;
  margin: 2rem 0;
}
.card .linear-or::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
  padding: 1rem;
}
.fb-color .i-fb {
  position: absolute;
  top: 0.5rem;
  right: 90%;
  font-size: 1.4rem;
  color: white;
}
.fb-color,
.google-logo {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
}
.fb-color button {
  background-color: rgb(30, 52, 130);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.6rem;
}
.fb-color button:hover {
  background-color: blue;
}
.google-logo button {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border: 1px solid gainsboro;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.6rem;
}
.google-logo img {
  max-width: 1.5rem;
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}
.google-logo button:hover {
  background-color: #cacaca;
}

/* -------Change password-------- */
.card > p {
  border: 0px solid #eaeaea;
  padding: 0.7rem;
  text-align: center;
  background-color: rgb(214, 252, 214);
  border-radius: 0.2rem;
}

/* -------Success-------- */
.card .check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid green;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.card .check-icon > i {
  font-size: 1.5rem;
  color: green;
}
.card > h4 {
  text-align: center;
}
.card .p-success {
  background-color: transparent;
  font-size: 0.8rem;
}

/* -------Navigation------- */
nav {
  height: 5 rem;
  width: 100%;
  background-color: black;
}
label.logo {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  padding: 0 100px;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0px 5px;
  line-height: 80px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}
nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.nav-logo {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
/* :is(.nav-close i, .nav .nav-action i):hover {
  background-color: darkblue;
} */
.nav-action {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav-toggle,
.nav-close {
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
  transition: color 0.4s;
}

/* -------Main Form-------- */
.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.top-page .search-box {
  display: flex;
  align-items: center;
}
.top-page .search-box > input {
  width: 30rem;
  padding: 0.7rem;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid rgb(232, 232, 232);
  outline: 0;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.top-page .search-box > label {
  background-color: rgb(0, 0, 255);
  padding: 0.9rem 1.5rem;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgb(0, 0, 255);
  outline: 0;
}
.top-page .search-box > label:hover {
  background-color: rgb(13, 13, 131);
}

/* --------Section One-------- */
.sec-one {
  background: url("images/whitebg.jpg");
  background-position: center;
  background-size: cover;
}
.container-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
}
.container-sec .content-sec {
  width: 70%;
}
.content-sec > h2 {
  font-size: 2rem;
  font-weight: bold;
}
.content-sec > p {
  font-size: 0.8rem;
  color: black;
  font-weight: 900;
  margin: 0.5rem;
  line-height: 1.6;
}
.content-sec > button {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgb(206, 206, 206);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: transparent;
}
.content-sec > button:hover {
  background-color: rgb(0, 0, 255);
  color: white;
}
.container-sec .image-sec {
  max-width: 25rem;
}
.image-sec > img {
  width: 100%;
}

/* --------Main Section------- */
.main-ser > h2 {
  color: transparent;
  background: linear-gradient(to right, blue, rgb(118, 118, 226));
  -webkit-background-clip: text;
  font-size: 1.7rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.main-ser .ser-content {
  display: flex;
  justify-content: center;
}
.main-ser .ser-content p {
  font-size: 0.8rem;
  text-align: center;
  width: 50%;
}
.ser-table {
  overflow-x: auto;
}
.ser-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.ser-table table thead th {
  padding: 1.5rem 2.5rem;
  width: 300px;
}
.ser-table thead th:nth-child(2),
.ser-table thead th:nth-child(5) {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.ser-table thead th.tab:nth-child(1),
.ser-table thead th.tab:nth-child(2),
.ser-table thead th.tab:nth-child(3) {
  border-bottom: 1px solid lightgray;
}
.ser-table thead th i {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: blue;
}
.ser-table thead th h4 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  color: blue;
}
.ser-table thead th .text-tab {
  display: flex;
  justify-content: center;
}
.ser-table thead th p {
  font-size: 0.8rem;
  width: 180px;
}

/* --------Work Section-------- */
.work-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-sec > h2 {
  font-size: 1.8rem;
  color: transparent;
  background: linear-gradient(to right, blue, rgb(118, 118, 226));
  -webkit-background-clip: text;
}
.work-sec > p {
  width: 250px;
  text-align: center;
  margin: 0.7rem 0;
}
.work-sec > img {
  max-width: 350px;
  border-radius: 0.5rem;
}

/* ---------Control Section--------- */
.control-sec,
.service-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.container-co,
.container-ser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.container-con .p-control > span,
.p-ser > span {
  color: transparent;
  background: linear-gradient(to right, blue, rgba(7, 7, 114, 0.566));
  -webkit-background-clip: text;
}
.container-con .p-control > h2 {
  font-size: 3rem;
  text-align: start;
}
.container-con .p-control p,
.p-ser > p {
  font-size: 0.8rem;
  text-align: start;
  margin: 0.5rem 0;
}
.p-control .line-con,
.line-ser {
  width: 50%;
  height: 1px;
  background-color: #cacaca;
}
.container-con .img-con {
  max-width: 30rem;
  height: auto;
}
.container-con .img-con img {
  width: 100%;
}
.p-control > button,
.p-ser > button {
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  border: 0;
  background-color: blue;
  color: white;
  font-weight: 900;
}
.p-control > button:hover,
.p-ser > button:hover {
  background-color: rgb(43, 43, 160);
}

/* --------Customer--------- */
.customer {
  background-color: blue;
}
.container-cu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding-top: 9rem;
  padding-bottom: 2.5rem;
}
.container-cu .box-cu {
  position: relative;
  padding: 3rem 2rem;
  background-color: white;
  margin: 0 2rem;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.6);
}
.customer > h3 {
  position: relative;
  top: 2.5rem;
  text-align: center;
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(to right, white, rgb(32, 84, 108));
  -webkit-background-clip: text;
}
.customer .line-cu {
  width: 10%;
  height: 1px;
  position: relative;
  top: 5rem;
  left: 45%;
  text-align: center;
  background-color: lightgray;
}
.container-cu .b-raduis-l {
  border-radius: 5rem 0rem 0rem 0rem;
}
.container-cu .b-raduis-r {
  border-radius: 0rem 0rem 5rem 0rem;
}
.box-cu span {
  position: absolute;
  top: -1rem;
  left: 50%;
}
.box-cu span i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(227, 227, 227);
}
.box-cu .img-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.box-cu .img-name img {
  max-width: 60px;
  border-radius: 50%;
}

/* -------- Case Studies--------*/
.case {
  margin-top: 5rem;
}
.case > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
}
.case > p {
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem 0;
}
.container-case {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}
.box-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
  padding: 2rem 1rem;
}
.box-case > h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  color: #8467b3;
}
.box-case > p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}
.box-case > button {
  padding: 1rem 2rem;
  border: 0;
  outline: 0;
  font-weight: 900;
  color: white;
  font-size: 1rem;
  background-color: blue;
}
.box-case > img {
  width: 200px;
}
.box-case > button:hover {
  background-color: darkblue;
}

/* ---------Get in touch with us-------- */
.touch {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.touch .t-content > h2 {
  font-size: 2.5rem;
  color: transparent;
  background: linear-gradient(to right, blue, rgb(19, 19, 71));
  -webkit-background-clip: text;
}
.touch .t-content > p {
  text-align: start;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.touch .t-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.touch .t-button .b-green {
  padding: 1rem 1.7rem;
  border: 0;
  background-color: rgb(16, 255, 104);
  color: white;
  font-size: 0.9rem;
  border-radius: 2rem;
}
.touch .t-button .b-blue {
  padding: 1rem 1.7rem;
  border: 0;
  font-size: 0.9rem;
  color: white;
  background-color: blue;
  border-radius: 2rem;
}
.touch .t-button .b-blue:hover {
  background-color: darkblue;
}
.touch .t-button .b-green:hover {
  background-color: darkgreen;
}

/* --------footer------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.7);
  padding: 4rem 0;
}
.footer .p-footer {
  width: 460px;
  height: auto;
}
.p-footer > h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: transparent;
  text-align: center;
  background: linear-gradient(to right, blue, rgb(11, 11, 80));
  -webkit-background-clip: text;
}
.p-footer > p {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}
.footer form {
  width: 460px;
}
.footer form label > input {
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.3);
}
.footer form label > button {
  position: relative;
  font-size: 1.1rem;
  top: -4.7rem;
  left: 18rem;
  padding: 1.5rem 2.8rem;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 2rem;
}
.footer form label > button:hover {
  background-color: darkblue;
}
.footer .f-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: -3rem;
}
.f-list .f-link a {
  font-size: 1rem;
  color: black;
}
.f-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: -3rem;
}
.f-social > p {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.icon-social i {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 2rem;
  color: white;
  background-color: blue;
}
.icon-social i:hover {
  background-color: darkblue;
}

/* --------About & Service & Contact Us & Case--------- */
.sec-about {
  background-image: url("images/about.webp");
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.content-ab,
.content-service,
.content-case,
.content-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.width-ab,
.width-service,
.width-case,
.width-cont {
  width: 400px;
}
.width-ab > h2,
.width-service > h2,
.width-case > h2,
.width-cont > h2 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  font-weight: bold;
}
.width-ab > p,
.width-service > p,
.width-case > p,
.width-cont > p {
  color: white;
  text-align: center;
}

/* --------Service-------- */
.sec-service {
  background-image: url("images/living-2.webp");
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.img-ser {
  max-width: 20rem;
  height: auto;
}
.img-ser > img {
  width: 100%;
}
.right-ser {
  position: relative;
  right: 15rem;
  top: -3rem;
}
.left-service {
  position: relative;
  left: 15rem;
}
.left-service-2 {
  position: relative;
  left: 15rem;
  top: -5rem;
}

/* -------Contact Us------ */
.mid-sec {
  margin: 3rem;
}
.sec-case {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("images/office.png");
}

/* -------Contact Us------- */
.sec-cont {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("images/cont-sec.webp");
}

/* -------------Mid Section------- */
.mid-sec {
  position: relative;
  left: 7rem;
}
.container-off,
.contianer-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.width-p-cont,
.width-p-cont-2 {
  width: 300px;
}
.width-p-cont {
  margin-left: 2rem;
}
.width-p-cont > h2,
.width-p-cont-2 > h2 {
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(to right, blue, rgb(12, 12, 58));
  -webkit-background-clip: text;
}
.icon-p-cont,
.icon-p-cont-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.p-cont p,
.p-cont-2 p,
.p-cont-2 > span {
  line-height: 1.3;
  text-align: start;
}
.icon-p-cont > i,
.icon-p-cont-2 > i {
  font-size: 2.5rem;
  color: blue;
}
.width-p-cont > button,
.width-p-cont-2 > button {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 2rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  font-weight: 600;
}
.width-p-cont > button:hover,
.width-p-cont-2 > button:hover {
  background-color: darkblue;
}
.img-cont {
  position: relative;
  right: 1.5rem;
  top: 0.2rem;
  max-width: 35rem;
}
.img-cont > img {
  width: 100%;
}
.img-work {
  max-width: 35rem;
}
.img-work > img {
  width: 100%;
}

/* --------Let's Talk--------- */
.container-talk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 6rem;
}
.card-talk {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.4);
}
.card-talk form {
  padding: 5rem 3rem;
}
.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-talk label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 700;
}
.input-text > input {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  outline: 0;
  background-color: #f0f0f0;
}
.card-talk label i {
  margin-left: 0.5rem;
  color: blue;
}
.input-email > input,
.input-sub > input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  background-color: #f0f0f0;
}
.input-mess > textarea {
  width: 100%;
  padding: 0.5rem 1.5rem;
  outline: 0;
}
.card-talk form > button {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border: 0;
  outline: 0;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: blue;
  color: white;
}
.card-talk form > button:hover {
  background-color: darkblue;
}
.content-talk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5rem;
}
.content-p-h2 > h2 {
  font-size: 4rem;
  margin-bottom: 0.4rem;
  color: transparent;
  background: linear-gradient(to right, blue, rgb(0, 0, 20));
  -webkit-background-clip: text;
}
.content-p-h2 > p {
  font-size: 1.3rem;
  text-align: start;
  list-style: 1.3;
  margin-bottom: 3rem;
}
.icon-p-talk p {
  text-align: start;
  line-height: 2.5;
}
.icon-p-talk p i {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 2rem;
  background-color: blue;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  color: white;
}
.icon-p-talk p i:hover {
  background-color: darkblue;
}
.cont-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.width-core {
  max-width: 1200px;
  margin: 0 auto;
}
/* -------Core Security-------- */
.top-core {
  background-color: green;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.core-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.core-nav > h2 {
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}
.core-nav .server-click {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
}
.icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icon-nav span i {
  margin-left: 0.5rem;
  color: white;
}
.icon-nav > p {
  color: white;
  font-size: 0.8rem;
}
.img-logo {
  max-width: 2rem;
}
.img-logo > img {
  width: 100%;
}
.btn-pre img {
  max-width: 3rem;
}
.preview {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.3);
  width: 25rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  visibility: hidden;
  transition: transform 0.4s top 0.4s;
}
.open-cart {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.cart-p-i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.btn-pre {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.2rem 0;
  outline: 0;
}
.icon-server select {
  outline: 0;
  padding: 0.8rem 2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #cacaca;
}
.line-core {
  width: 100%;
  height: 0.5px;
  background-color: #cacaca;
  margin: 1rem 0;
}
.btn-last-pre {
  float: right;
  padding: 0.5rem 1rem;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  outline: 0;
}
.btn-pre:hover,
.btn-last-pre:hover,
.icon-server select:hover {
  border-color: green;
}
.icon-server > i {
  position: relative;
  top: 2rem;
  left: 1rem;
}

/* -------User-------- */
.userCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.3);
  width: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  visibility: hidden;
  transition: transform 0.2s top 0.2s;
}
.show-User {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.user-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.user-title > i {
  font-size: 2.5rem;
  color: green;
}
.user-title > p {
  color: green;
  margin-bottom: 0.5rem;
}
.icon-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.icon-lang > i {
  font-size: 0.6rem;
}
.icon-lang > p,
.edit > a,
.change > a,
.logout > a {
  font-size: 0.8rem;
  color: black;
  border: 0;
}
.img-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 0.9rem;
  position: relative;
  right: 0.7rem;
}
.img-lang img {
  width: 100%;
}
.edit,
.change,
.logout {
  padding: 0.5rem;
}
.userCart > button {
  float: right;
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  border: 1px solid #cacaca;
  background-color: white;
  border-radius: 0.5rem;
}
.userCart > button:hover {
  border-color: green;
}
.icon-lang:hover,
.change:hover,
.logout:hover,
.edit:hover {
  background-color: #ebebeb;
}

/* --------Edit Profile-------- */
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
}
.btn-box > label {
  text-align: start;
  font-size: 0.9rem;
}
.btn-box input {
  width: 60%;
  border: 1px solid #cacaca;
}
.card-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Roboto", sans-serif;
  background-color: white;
  position: relative;
  top: 5rem;
}
.check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0;
}
.check-box > label {
  font-size: 0.8rem;
}
.box-raduis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-raduis label {
  font-size: 0.8rem;
  margin: 0 0.2rem;
}
.bu-edit {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
}
.btn-log {
  position: relative;
  left: 35%;
  margin-top: 2rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  border: 1px solid #cacaca;
  background-color: green;
}
.btn-log a{
  color: white;
  font-weight: 500;
  border: 0;
}
.btn-log:hover{
  background-color: darkgreen;
}
.bu-edit a{
  border: 1px solid #cacaca;
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: black;
  border-radius: 0.2rem;
}
.btn-log a {
}
.bu-edit a.b-g-e {
  background-color: green;
  color: white;
  transition: background-color 0.5s;
}
.bu-edit a:last-child:hover {
  border-color: green;
  background-color: #ebebeb;
}
.bu-edit a.b-g-e:hover {
  background-color: darkgreen;
}
.box-raduis label {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
.check-box label {
  display: flex;
  gap: 0.3rem;
}
.btn-box .position-log {
  position: relative;
  left: 2.5rem;
}

/* -------Respnsive-------- */
@media screen and (max-width: 1024px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 14px;
  }
  .control-sec .width-con {
    flex-direction: column;
  }
  .right-ser {
    right: 10rem;
  }
  .left-service {
    left: 10rem;
  }
  .left-service-2 {
    left: 10rem;
  }
  .mid-sec {
    left: 0;
  }
  .img-cont {
    max-width: 100%;
    position: relative;
    left: 1rem;
  }
  .img-work {
    position: relative;
    left: 1rem;
    max-width: 100%;
  }
  .img-cont > img,
  .img-work > img {
    width: 100%;
  }
  .width-p-cont,
  .width-p-cont-2 {
    position: relative;
    left: 30%;
  }
}

@media screen and (max-width: 912px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 140px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0;
  }
  .container-sec .content-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content-sec > h2,
  p {
    text-align: center;
  }
  .right-ser {
    right: 3rem;
  }
  .left-service {
    left: 3rem;
  }
  .left-service-2 {
    left: 3rem;
  }
  .img-cont {
    top: 0;
    right: 0;
  }
  .img-cont {
    max-width: 50rem;
    top: 0;
    right: 0;
  }
  .img-cont > img {
    width: 100%;
  }
  .img-work {
    max-width: 50rem;
  }
  .img-work > img {
    width: 100%;
  }
  .width-p-cont,
  .width-p-cont-2 {
    position: relative;
    left: 25%;
  }
  .width-p-cont > h2,
  .width-p-cont-2 > h2 {
    font-size: 1.9rem;
  }
  .mid-sec {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 350px;
  }
  .fb-color .i-fb {
    left: 0.8rem;
  }
  .google-logo > img {
    left: 0.8rem;
  }
  .top-page .search-box > input {
    width: 20rem;
  }
  .right-ser {
    right: 0rem;
    top: 0;
  }
  .left-service {
    left: 0rem;
  }
  .left-service-2 {
    left: 0rem;
    top: 0;
  }
  .img-ser {
    max-width: 40rem;
    height: auto;
  }
  .img-ser > img {
    width: 100%;
  }
  .img-cont {
    top: 0;
    right: 0;
  }
  .img-cont > img {
    width: 100%;
  }
  .width-p-cont-2 {
    position: relative;
    left: 25%;
  }
  .width-p-cont {
    position: relative;
    left: 15%;
  }
  .width-p-cont > h2,
  .width-p-cont-2 > h2 {
    font-size: 1.8rem;
  }
  .content-p-h2 > h2 {
    font-size: 3rem;
  }
  .content-p-h2 > p {
    font-size: 1rem;
  }
  .server-click > p {
    display: none;
  }
}
@media screen and (max-width: 468px) {
  .top-page .search-box > input {
    width: 15rem;
  }
  .content-sec > h2,
  p {
    padding: 0 1rem;
  }
  .width-con .p-control p {
    position: relative;
    left: -0.6rem;
  }
  .container-sec .image-sec {
    max-width: 24rem;
  }
  .control-sec {
    gap: 2rem;
  }
  .container-con .img-con {
    max-width: 15rem;
  }
  .width-con .p-control > button {
    position: relative;
    left: 0.5rem;
  }
  .container-con .p-control > h2 {
    font-size: 1.5rem;
  }
  .container-con .img-con {
    max-width: 15rem;
  }
  .container-con .img-con img {
    width: 100%;
  }
  .container-con .img-con img {
    width: 100%;
  }
  .container-con .p-control p {
    position: relative;
    left: -0.9rem;
  }
  .customer > h3 {
    font-size: 1.5rem;
  }
  .footer .p-footer {
    width: 300px;
  }
  .p-footer > h2 {
    font-size: 1.2rem;
  }
  .touch .t-content > h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  .touch .t-content > p {
    text-align: center;
    font-size: 0.9rem;
  }
  .footer form {
    width: 300px;
  }
  .footer form label {
    display: flex;
    flex-direction: column;
  }
  .footer form label > button {
    top: 0;
    left: 0;
    border-radius: 0;
  }
  .footer form label > input {
    border-radius: 0;
  }
  .footer .f-list {
    top: 0;
  }
  .f-social {
    flex-direction: column;
    gap: 1rem;
  }
  .f-social {
    top: 0;
  }
  .f-social i {
    position: relative;
    right: -8rem;
  }
  .img-ab .m-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
  }
  .img-ser {
    max-width: 23rem;
    height: auto;
  }
  .img-ser > img {
    width: 100%;
  }
  .width-p-cont {
    width: 100%;
  }
  .width-p-cont > h2,
  .width-p-cont-2 > h2 {
    position: relative;
    left: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .width-p-cont > button,
  .width-p-cont-2 > button {
    position: relative;
    left: 30%;
  }
  .img-cont {
    max-width: 23rem;
    top: 0;
    right: 0;
  }
  .img-cont > img {
    width: 100%;
  }
  .img-work {
    max-width: 23rem;
  }
  .img-work > img {
    width: 100%;
  }
  .width-p-cont,
  .width-p-cont-2 {
    width: 250px;
    left: 2rem;
  }
  .width-ab,
  .width-service,
  .width-case,
  .width-cont {
    width: 250px;
  }
  .mid-sec {
    left: 0;
  }
  .content-p-h2 > h2 {
    font-size: 2.5rem;
  }
  .content-p-h2 > p {
    font-size: 0.8rem;
  }
  .card-talk form > button {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
  .card {
    max-width: 320px;
    width: 100%;
  }
  .core-nav > h2 {
    font-size: 0.9rem;
  }
  .server-click > p {
    display: none;
  }
  .icon-nav > p {
    display: none;
  }
  .preview {
    width: 18rem;
  }
  .open-cart {
    top: 22%;
  }
  .show-User {
    top: 24%;
  }
  .icon-lang > p {
    position: relative;
    right: 1rem;
  }
  .icon-lang img {
    position: relative;
    right: 1rem;
  }
  .check-box > label,
  .box-raduis label {
    font-size: 0.6rem;
  }
  .btn-box input,
  .btn-box > label {
    font-size: 0.7rem;
  }
  .check-box label {
    left: 0;
  }
}
